<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Change Admin Rights of <%= @user.name %> </h2>


      <div class="form-group field">
        <%= form_for(@user) do |f| %>
          <%= f.label :admin %>
          <%= f.check_box :admin %>
          <%= f.hidden_field(:user_id, :value => @user.id) %>
          <%= f.submit "Submit"  %>
        <% end %>
      </div>


    </div>
  </div>
</div>
