<div>
  <div class="container">
    <div class="col-lg-12 text-center">
      <h2>All Games</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center">Sport</th>
              <th class="text-center">League</th>
              <th class="text-center">Teams</th>
              <th class="text-center">Date</th>
              <th class="text-center">Start Time</th>
            </tr>
          </thead>
            <tbody>
              <% @games.each do |game| %>
                <tr>
                  <td><%= game.league.sport %></td>
                  <td><%= game.league.skill_level %></td>
                  <td><%= game.teams[0].name %> vs. <%= game.teams[1].name %></td>
                  <td><%= game.starts_at.strftime("%A, %b %d") %></td>
                  <td><%= game.starts_at.strftime("%I:%M %p") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>

    <div>
    <% @leagues.each do |league| %>
      <div class="container col-lg-12 text-center">
        <h2><%= league.skill_level.capitalize%> <%=league.sport.capitalize %></h2>
          <div id="create-team" class="col-lg-3 col-lg-offset-3 text-center create-team">
            <h3 class="section-heading">Create a Team</h3>
              <%= link_to "Add a team", new_admin_team_path(:league_id => league.id), class: "btn btn-primary" %>
          </div>

          <div id="schedule-game" class="col-lg-3 text-center schedule-game">
            <h3 class="section-heading">Schedule a Game</h3>
              <%= link_to "Add game", new_admin_league_game_path(league), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>


<div>
    <% @teams.each do |team| %>
      <div class="container col-lg-12 text-center">
        <a href="/teams/<%=team.id%>"><%= team.name.capitalize %></a>
      </div>
      <% end %>
    </div>












  </div>
</div>
