<% if @errors %>
  <% @errors.each do |error| %>
  <%= error %>
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <%=simple_form_for @game, url: admin_league_games_path, :html => { :class => "form-inline"  }    do |f| %>
        <%= f.input :starts_at, as: :date, html5: true %>
        <%= f.input :hour %>
        <%= f.input :minutes %>
        <%= f.simple_fields_for @team_game do |team_game_form|      %>
          <%= team_game_form.association :team, collection:       Team.where(league_id: params[:league_id]),      input_html: { name: "team_game[team1]"} %>
          <%= team_game_form.association :team, collection:       Team.where(league_id: params[:league_id]),      input_html: { name: "team_game[team2]"} %>
        <% end %>

        <%= f.button :submit, "Schedule Game", class:"      btn-primary" %>

    </div>
  </div>
</div>


<%# simple_form_for @team_game, url: admin_games_path do |f| %>
  <%# f.association :team %>
  <%# f.association :team %>
  <%# f.button :submit, "Create Game", class: "btn-primary" %>
<% end %>

<div class="container">
    <div class="col-lg-12 text-center">
      <h2><%= @league.sport.capitalize %> - <%= @league.skill_level.capitalize %> Games</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center">Sport</th>
              <th class="text-center">League</th>
              <th class="text-center">Teams</th>
              <th class="text-center">Date</th>
              <th class="text-center">Start Time</th>
            </tr>
          </thead>
            <tbody>
              <% @games.each do |game| %>
                <tr>
                  <td><%= game.league.sport %></td>
                  <td><%= game.league.skill_level %></td>
                  <td><%= game.teams[0].name %> vs. <%= game.teams[1].name %></td>
                  <td><%= game.starts_at.strftime("%A, %b %d") %></td>
                  <td><%= game.starts_at.strftime("%I:%M %p") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>

